{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <h2>⏱️ {{ title }}</h2>
    <table>
      <thead>
        <tr>
          {% if title.startswith('Riwayat Aktivitas SEMUA') %}
          <th>Pengguna</th>
          {% endif %}
          
          <th>Aksi</th>
          <th>Data Asli</th>
          
          <th>Status</th>
          
        </tr>
      </thead>
      <tbody id="historyData">
        {% for history in history_list %}
        <tr>
            {% if title.startswith('Riwayat Aktivitas SEMUA') %}
            <td>{{ history.user }}</td>
            {% endif %}
            
            <td>{{ history.action }}</td>
            <td>{{ history.original_file }}</td>
            
            <td>Berhasil</td>
            
        </tr>
        {% else %}
        
        <tr><td colspan="{% if title.startswith('Riwayat Aktivitas SEMUA') %}4{% else %}3{% endif %}">Belum ada riwayat aktivitas.</td></tr>
        
        {% endfor %}
      </tbody>
    </table>

{% endblock %}