{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <h2>⏱️ {{ title }}</h2>
    <table>
      <thead>
        <tr>
          {% if title.startswith('Riwayat Aktivitas SEMUA') %}
          <th>Pengguna</th>
          {% endif %}
          <th>Tanggal</th>
          <th>Aktivitas</th>
        </tr>
      </thead>
      <tbody id="historyData">
        {% for history in history_list %}
        <tr>
            {% if title.startswith('Riwayat Aktivitas SEMUA') %}
            <td>{{ history.user }}</td>
            {% endif %}
            <td>{{ history.timestamp }}</td>
            <td>{{ history.action }} file: {{ history.original_file }} {% if history.generated_file %} -> {{ history.generated_file }} <a href="{{ url_for('download_generated_file', filename=history.generated_file) }}">(Download)</a>{% endif %}</td>
        </tr>
        {% else %}
        <tr><td colspan="2">Belum ada riwayat aktivitas.</td></tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}