{% extends "base.html" %}
{% block title %}Login - Aplikasi Kripto{% endblock %}
{% block content %}

<div class="login-container">
    <div class="login-box">
        <h2>🔐 Login</h2>
        <form method="POST" action="{{ url_for('login') }}">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Masuk</button>
            <p>Belum punya akun? <a href="{{ url_for('register') }}">Daftar di sini</a></p>
        </form>
    </div>
</div>

{% endblock %}
