{% extends "base.html" %}
{% block title %}Register - Aplikasi Kripto{% endblock %}
{% block content %}

<div class="login-container">
    <div class="login-box">
        <h2>🧭 Register</h2>
        <form method="POST" action="{{ url_for('register') }}">
            <input type="text" name="username" placeholder="Buat Username" required>
            <input type="password" name="password" placeholder="Buat Password" required>
            <button type="submit">Daftar</button>
            <p>Sudah punya akun? <a href="{{ url_for('login') }}">Login di sini</a></p>
        </form>
    </div>
</div>

{% endblock %}
